## Prepare data for ML


We will take the output from thee **Clean_data** analysis and convert the category feature into dummy varaibles

In [1]:
import pandas as pd
import numpy as np

In [14]:
def make_features(d):
    category_columns = d.dtypes[d.dtypes == object]
    return pd.get_dummies(d, columns=category_columns.index)

In [23]:
dTrain = pd.read_csv("../data/train_clean.csv")
dTest = pd.read_csv("../data/test_clean.csv")
n = dTrain.shape[0] ## total rows of training
d = make_features(dTrain.append(dTrain))
d = d.astype(float)

## Testing and training
dTrain_transformed = d.iloc[:n]
dTest_transformed = d.iloc[n:]

,amount_tsh,gps_height,longitude,latitude,region_code,district_code,population,construction_year,date_recorded_year,date_recorded_month,...,source_shallow well,source_spring,source_unknown,waterpoint_type_cattle trough,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other
0,6000.0,1390.0,34.938093,-9.856322,11.0,5.0,109.0,1999.0,2011.0,3.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1399.0,34.698766,-2.147466,20.0,2.0,280.0,2010.0,2013.0,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,25.0,686.0,37.460664,-3.821329,21.0,4.0,250.0,2009.0,2013.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,263.0,38.486161,-11.155298,90.0,63.0,58.0,1986.0,2013.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,31.130847,-1.825359,18.0,1.0,0.0,NaN,2011.0,7.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
a = d.iloc[:4,:4]
a

   amount_tsh  gps_height  longitude   latitude
0      6000.0      1390.0  34.938093  -9.856322
1         0.0      1399.0  34.698766  -2.147466
2        25.0       686.0  37.460664  -3.821329
3         0.0       263.0  38.486161 -11.155298

In [28]:
a.as_matrix()

array([[  6.00000000e+03,   1.39000000e+03,   3.49380928e+01,
         -9.85632177e+00],
       [  0.00000000e+00,   1.39900000e+03,   3.46987661e+01,
         -2.14746569e+00],
       [  2.50000000e+01,   6.86000000e+02,   3.74606645e+01,
         -3.82132853e+00],
       [  0.00000000e+00,   2.63000000e+02,   3.84861609e+01,
         -1.11552977e+01]])

In [13]:
tempdf.head()

,amount_tsh,gps_height,longitude,latitude,region_code,district_code,population,construction_year,date_recorded_year,date_recorded_month,...,source_shallow well,source_spring,source_unknown,waterpoint_type_cattle trough,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other
0,6000.0,1390,34.938093,-9.856322,11,5.0,109,1999.0,2011,3,...,0,1,0,0,1,0,0,0,0,0
1,0.0,1399,34.698766,-2.147466,20,2.0,280,2010.0,2013,3,...,0,0,0,0,1,0,0,0,0,0
2,25.0,686,37.460664,-3.821329,21,4.0,250,2009.0,2013,2,...,0,0,0,0,0,1,0,0,0,0
3,0.0,263,38.486161,-11.155298,90,63.0,58,1986.0,2013,1,...,0,0,0,0,0,1,0,0,0,0
4,0.0,0,31.130847,-1.825359,18,1.0,0,NaN,2011,7,...,0,0,0,0,1,0,0,0,0,0